body{
    font-family: Literata, serif;
    font-weight: 400;
    color:black;
    overflow: visible;
}

/* CSS HEADER */
.logo{
    text-align: center;
}
.logo h2{
     font-style: italic;
     font-size: 18px;
     color: black;
 }
/* STOP CSS HEADER */

/* SUBSCRIBE, SIGN-IN AND EMAIL ICON BUTTON CSS */
.btn-primary{
    background-color: black;
    border-color: transparent;
    border-radius: 3px;
    font-size: 16px;
}
.btn-primary:focus, .btn-primary:active{
    background-color: red;
    box-shadow: none;
    border-color: red;
}
.btn-primary:hover{
    background-color: red;
    border-color: red;
}
a, .btn-link{
    color: #555555;
    text-decoration: none;
}
.btn-link:focus, .btn-link:active{
    color: red;
    box-shadow: none;
    background-color: transparent;
}
.btn-link:hover{
    color: red;
}

#emailIcon{
    font-size: 36px;
    color: gray;
}
.Icon{
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    position: relative;
    bottom: -8px;
}
/* STOP SUBSCRIBE, SIGN-IN AND EMAIL ICON BUTTON CSS */

/* NAVIGATIONAL BAR CSS */
.nav-color{
    background-color: #a9091f !important;
    height: 60px;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    transition: all 0.2s ease-in-out;
    margin-top: 0;
}
.dropdown-item:hover{
    background-color: #a9091f;
    border-color: #a9091f;
    color: white;
}
.nav-link{
    color: white;
}
.nav-link:hover, .nav-link:focus, .nav-link:active{
    color: white;
}
.white-icon{
    color: white;
    font-size: 36px;
}
.white-icon-smaller{
    color: white;
    font-size: 30px;
}
.show-on-scroll{
    display: none;
}
.show-on-scroll .btn-link{
    background-color: white;
}
.show-on-scroll .btn-link:hover{
    color: gray;
}
.show-on-scroll .btn-primary:hover{
    background-color: black;
}
/* STOP NAVIGATIONAL BAR CSS */

/* OFF CANVAS LEFT AND RIGHT CSS */
.offcanvas-body{
    background: #a9091f;
    color: white;
    margin-left: 20px;
    border-bottom: 1px solid white;
}
.offcanvas{
    background: #a9091f;
}
.btn-canvas{
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: bold;
}
#offcanvasRight{
    width: 250px;
}
#offcanvasLeft{
    width: 300px;
}
.btn-canvas-account {
    padding: 0.75rem 1rem;
    border: 1px solid #777;
    background-color: transparent;
    color: white;
    transition: border-color 0.3s ease;
    font-weight: bold;
    font-size: 16px;
}
.btn-canvas-account:hover {
    border-color: white;
}
.text-account {
    color: white;
    border-bottom: 1px solid #777;
    padding: 0.75rem 0;
    display: block;
    transition: border-color 0.3s ease;
}
.text-account:hover {
    border-bottom-color: white;
}

/* SEARCH BAR CSS */
.form-control,
.input-group-text {
    border-radius: 30px;
}
.form-control {
    padding-right: 30px;
    border-right: 0;
}
.form-control:focus,
.input-group-text:focus,
.form-control:active,
.input-group-text:active {
    box-shadow: none;
    border-color: transparent;
}
.input-wrapper {
    position: relative;
    width: 100%;
}
.search-icon-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.search-icon-btn i {
    font-size: 18px;
    color: black;
}
.search-icon-btn:hover i {
    color: #a9091f;
}
/* STOP SEARCH BAR CSS */
/* STOP OFF CANVAS LEFT AND RIGHT CSS */

/* ALERT SUBSCRIPTION CSS */
.modal-header {
    background-color: #052942;
    color: white;
    font-size: 25px;
}
.modal-header button{
    font-size: 20px;
}
.modal-body{
    background-color: white;
    align-content: center;
    text-align: center;
    color: #515558;
    padding: 30px;
    margin-top: 10px ;
}
.modal-body p:last-of-type {
    font-family: Arial, Helvetica, serif;
    font-size: 16px;
}
.modal-body div{
    text-align: center;
    justify-content: center;
}
.modal-body button{
    background-color: #c80227;
    color: white;
    font-family: Arial, Helvetica, serif;
    border: none;
}
.modal-body button:hover{
    background-color: #b53c4e;
}
.modal-message{
    font-size: 35px;
    font-weight: bolder;
}
.modal-footer{
    text-align: center;
    align-content: center;
    display: block;
    color: #d6d8dc;
    font-family: Arial, Helvetica, serif;
    border: none;
    margin-bottom: 30px;
}
.modal-footer button{
    background-color: transparent;
    color: #2e2e2e;
    text-decoration: underline;
    text-decoration-color: #2e2e2e;
    text-decoration-thickness: 1px;
    border: none;
}
.model-footer button:hover{
    color: #454545;
    text-decoration-color: #454545;
}
/* STOP ALERT SUBSCRIPTION CSS */

/* NEWS ANTEPRIMA */
.podcast{
    background-color: #ededed;
}
.news-anteprima{
    background-color: #434343;
    display: flex;
    align-items: baseline;
    gap: 50px;
    padding: 10px;
    justify-content: center;
    height: 45px;
}
.news-anteprima h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    border-right: black solid;
    border-width: 1px;
    padding-right: 30px;
    font-size: 25px;
}
.news-anteprima h3{
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: Literata, serif;
    border: none;
}
a{
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.gray-text{
    color: gray;
    font-weight: normal;
}
.podcast-item{
    padding: 20px;
    align-content: center;
}
.podcast-text{
    max-width: 300px;
}
.news-anteprima-article{
    display: flex;
    gap: 16px;
    align-items: center;
}
.news-anteprima-article h4{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.news-anteprima-article h4 a{
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.news-anteprima-article img{
    max-width: 70px;
    max-height: 70px;
}
/* STOP NEWS ANTEPRIMA */

/* TRENDING */
.topic{
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.topic>*{
    display: inline;
}
.topic-element a{
    padding: 0 5px;
    border-left: 1px solid #222;
    color: #555555;
    font-size:13px;
    font-weight: lighter;
}
.head-topic-element a:hover, .topic-element a:hover{
    text-decoration: underline;
}
.head-topic-element a{
    padding: 0 5px;
    color: #555555;
    font-size:13px;
    font-weight: lighter;
}
/* STOP TRENDING */

/* MAIN PAGE CSS */
.bottom-border{
    border-bottom: 1px solid #ededed;
    margin-bottom: 30px;
}
.central-colum-border{
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.sticky-section, .sticky-add-space {
    position: sticky;
    top: 70px;
    z-index: 100;
}
.article-news, .big-article-news{
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
}
.article-news span, .big-article-news span, .news-anteprima-article span{
    color: #555555;
    font-weight: normal;
}
.article-news img{
    max-width: 85px;
    max-height: 85px;
}
.article-news h2 a, .big-article-news h2 a{
    font-size: 30px;
}
.article-news h6 a{
    font-size: 17px;
}
#my-times h4, #video h4{
    font-size: 14px !important;
    line-height: 21px;
    font-weight: normal !important;
}
#commentary h6, #most-popular h6{
    font-size: 20px !important;
    font-weight: bold;
}
.article-news h4 a, .article-news h3 a{
    font-size: 20px;
}
.more-important-article h4 a{
     font-size: 25px;
}
.article-news p, .big-article-news p{
    font-size: 20px;
    color: #555555;
    margin-top: 5px;
    margin-bottom: 10px;
}
#totays-paper p{
    font-size: 17px;
}
.article-news a, .big-article-news a{
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.article-news a:hover, .big-article-news a:hover{
    color: #a9091f;
}
.black-underline-link a:hover{
    text-decoration: underline;
    color:black;
    text-decoration-thickness: 1px;
}
.black-link a:hover{
    color:black
}
.arrow-link{
    color: #555555;
    font-size:14px;
}
.arrow-link:hover{
    color: #a9091f;
}
.blue-link a{
    color: #4268c0;
    font-weight: normal;
}
.blue-link a:hover{
    color: #4268c0;
    text-decoration: underline;
}
.sponsored-content{
    font-family: Arial, Helvetica, sans-serif;
    color: #a8091f;
    font-size: 14px;
    font-weight: bold;
}
.sponsored-content a{
    font-size: 20px;
}
.sponsored-content-background{
    background-color: #e6e8eb;
    padding: 10px;
}
.gradient-title{
    background-image: linear-gradient(90deg, #9ea7b3 30%, #fff);
    text-shadow: 0 0 9px rgba(0, 0, 0, .4);
    color: #fff;
    border-bottom: 0;
    padding: 4px 12px;
    margin: 0 0 16px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder !important;
}
.premium{
     font-weight: bolder !important;
     color: white !important;
     background-color: #a9091f;
     font-family: Arial, Helvetica, sans-serif;
     padding: 4px;
     font-size: 12px;
 }
.follow-us{
    color:black;
    font-weight: bold;
    font-size: 25px;
}
.video-box, .newsletter-box{
    background-color: black;
    color: white !important;
    padding: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder !important;
}
.commentary-box{
    background-color: #555555;
    color: white !important;
    padding: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder !important;
}
.exclusive-box{
    background-color: #004898;
    color: white !important;
    padding: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder !important;
}
.span-commentary span{
    border-bottom: 1px solid #ededed;
    font-weight: bold;
    font-size: 18px;
    color:black;
}
.text-white{
    font-weight: normal;
}
.color-blue-green{
    color: #1f4360;
}
.background-blue{
    background-color: rgb(232, 238, 241);
    padding: 10px;
    margin: 0;
}
.thin-line{
    color: #7e7e7e;
    font-weight: bold;
    align-items: center;
    align-content: center;
}
.play-sudoku-box, .latest-cartoon-box{
    align-items: center;
    align-content: center;
    text-align: center;
}
.section-title{
    margin-top: 20px;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.section-title hr{
    color: #842029;
    width: 95%;
    border-bottom: #842029 solid 1px;
    margin-top: 1px;
    margin-bottom: 0;
    align-self: center;
 }
.section-title-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
.section-header-red{
    color: #a9091f;
}
.section-header-black{
    color:black;
}
.threat-status .section-title h3 a{
    font-size: 25px;
    color: #1f4360;
    padding: 2px;
}
.threat-status .section-title h3 a:last-child{
    color: white;
    background-color: darkred;
    font-weight: 700;
}
.most-popular h6, .most-popular h4{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
.most-popular a:hover{
    color: #a9091f;
}
.most-popular{
    margin-bottom: 20px;
}

/* SOCIALS ICONS CSS */
#facebook, #instagram, #rss, #twitter{
    color: gray;
    font-size: 30px;
}
#facebook:hover{
    color: blue;
}
#instagram:hover{
    color: #6f42c1;
}
#rss:hover{
    color: orange;
}
#twitter:hover{
    color: #0dcaf0;
}
/* STOP SOCIALS ICONS CSS */

/* IMAGE CSS */
.image-box-70x70 img{
    max-width: 70px;
    max-height: 70px;
}
.image-box-85x85 img{
    max-width: 85px;
    max-height: 85px;
}
.image-box-85x119 img{
    max-width: 85px;
    max-height: 119px;
}
.image-box-166x97 img{
    max-width: 166px;
    max-height: 97px;
}
.image-box-85x130 img{
    max-width: 85px;
    max-height: 130px;
}
/* STOP IMAGE CSS */

/* ARTICLE VISIBLE ON MOBILE CSS */
.mobile-article {
    background-image: url(https://placehold.co/1200x670);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.text-article{
    position: absolute;
    bottom: 0;
    padding-left: 8px;
    font-size: 25px;
}
.text-article h4 a{
    color: white;
    font-weight: 700;
    font-size: 30px;
}
.meta-article span, .meta-article span a{
    color: white;
    font-size:16px;
}
.meta-article span a:hover{
    text-decoration: underline;
}
/* STOP ARTICLE VISIBLE ON MOBILE CSS */

/* ADD CSS */
.front-add-space{
    margin-top: 15px;
    align-content: center;
    text-align: center;
    margin-bottom: 25px;
    padding: 5px;
}
.add-space{
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 15px auto 25px;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 2; /* 300:600 => 1:2 */
}
.add-space iframe{
    width: 100%;
    height: 100%;
    border: none;
}
@media (max-width: 992px){
    .smaller-add-space{
        max-width: 800px; /* smaller ad on md screens */
        max-height: 600px;
    }
}
/* STOP ADD CSS */

/* PADDING AND MARGING DIRECTIVES FOR LARGER SCREENS */
/* I had to create a custom one myself cause the px-lg-5 BootstraP gives you wasn't enough for bigger screens */
@media (min-width: 1400px) {
    .px-lg-custom {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
        max-width: 1320px;
    }
}
/* STOP PADDING AND MARGING DIRECTIVES FOR LARGER SCREENS */
/* STOP MAIN PAGE CSS */

/* PRE-FOOTER */
.five-wide-auto-grid {
    display: grid;
    grid-gap: 40px 16px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin-top: 32px;
}
.pre-footer-title{
    height: 50px;
    align-items: center;
    display: flex;
    gap: 10px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.rounded-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}
.pre-footer-article h3{
    color:black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.pre-footer-article h4 a{
    color: #2e2e2e;
    font-weight: lighter;
    font-size: 16px;
 }
.pre-footer-article h3:hover, .pre-footer-article h4:hover{
    text-decoration: underline;
    text-decoration-color:black;
    text-decoration-thickness: 1px;
}
.lead-article{
    border-bottom: 1px solid #ededed;
    margin-top: 8px;
    margin-bottom: 10px;
}
.lead-article h4 a{
    font-weight: bolder;
    color: black;
}
/* STOP PRE-FOOTER */

/* FOOTER */
.footer-article h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #a8091f;
    font-weight: bolder;
    font-size: 18px;
}
.footer-background{
    background-color: #e6e8eb;
    margin-top: 15px;
}
.footer-article a{
    color: #2e2e2e;
    font-size: 16px;
    font-weight: lighter;
}
.footer-title h3 a{
    color: #a9091f;
    font-size: 18px;
    font-weight: bold;
}
.footer-title h3 a:hover, .footer-topic-element a:hover{
    text-decoration: underline;
    text-decoration-color: #a9091f;
    text-decoration-thickness: 1px;
    color: #a9091f;
}
.footer-topic{
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
}
.footer-topic>*{
    display: inline;
}
.footer-topic-element a{
    padding: 0 5px;
    color: #a9091f;
    font-size:18px;
    font-weight: bold
}
.topic-end-lines{
    border-left: 2px solid #7e7e7e;
    padding: 0 5px;
}
/* STOP FOOTER */