body{
    font-family: Literata, serif;
    font-weight: 400;
    color:black;
}
/* CSS HEADER */
.logo{
    text-align: center;
}
.textLogo{
    width: 500px;
}

h5{
     font-style: italic;
     font-size: 18px;
     color: black;
 }

/* subscribe, sign-in and email-icon button styles */
.btn-primary{
    background-color: black;
    border-color: transparent;
    border-radius: 3px;
    font-size: 16px;
}
.btn-primary:focus, .btn-primary:active{
    background-color: red !important;
    box-shadow: none;
    border-color: red !important;
}
.btn-primary:hover{
    background-color: red;
    border-color: red;
}

a, .btn-link{
    color: gray;
    text-decoration: none;
}
.btn-link:focus, .btn-link:active{
    color: red;!important;
    box-shadow: none;
    background-color: transparent;!important;
}
.btn-link:hover{
    color: red;
}

#emailIcon{
    font-size: 36px;
    color: gray;
}
.Icon{
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    position: relative;
    bottom: -8px;
}

/* NAVIGATIONAL BAR CSS */
.nav-color{
    background-color: #a9091f !important;
}
.dropdown-item:hover{
    background-color: #a9091f;
    border-color: #a9091f;
    color: white;
}
.nav-link{
    color: white;
}
.nav-link:hover, .nav-link:focus, .nav-link:active{
    color: white;
}
