body{
    font-family: Literata, serif;
    font-weight: 400;
    color:black;
}
/* CSS HEADER */
.logo{
    text-align: center;
}

h5{
     font-style: italic;
     font-size: 18px;
     color: black;
 }

/* SUBSCRIBE, SIGN-IN AND EMAIL ICON BUTTON CSS */
.btn-primary{
    background-color: black;
    border-color: transparent;
    border-radius: 3px;
    font-size: 16px;
}
.btn-primary:focus, .btn-primary:active{
    background-color: red !important;
    box-shadow: none;
    border-color: red !important;
}
.btn-primary:hover{
    background-color: red;
    border-color: red;
}

a, .btn-link{
    color: gray;
    text-decoration: none;
}
.btn-link:focus, .btn-link:active{
    color: red;!important;
    box-shadow: none;
    background-color: transparent;!important;
}
.btn-link:hover{
    color: red;
}

#emailIcon{
    font-size: 36px;
    color: gray;
}
.Icon{
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    position: relative;
    bottom: -8px;
}

/* NAVIGATIONAL BAR CSS */
.nav-color{
    background-color: #a9091f !important;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    transition: all 0.2s ease-in-out;
    margin-top: 0;
}
.dropdown-item:hover{
    background-color: #a9091f;
    border-color: #a9091f;
    color: white;
}
.nav-link{
    color: white;
}
.nav-link:hover, .nav-link:focus, .nav-link:active{
    color: white;
}
.fa-user-circle-o{
    color: white;
    font-size: 36px; /*TODO: figure out why this is not applied on Font Awesom Icon*/
}
.fa-bars{
    color: white;
    font-size: 24px;
}

/* OFF CANVAS LEFT AND RIGHT CSS */
.offcanvas-body{
    background: #a9091f !important;
    color: white;
    margin-left: 20px;
    border-bottom: 1px solid white;
}
.offcanvas{
    background: #a9091f !important;
}
.btn-canvas{
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: bold;
}
#offcanvasRight{
    width: 250px;
}
#offcanvasLeft{
    width: 300px;
}

.btn-canvas-account {
    padding: 0.75rem 1rem;
    border: 1px solid #777;
    background-color: transparent;
    color: white;
    transition: border-color 0.3s ease;
    font-weight: bold;
    font-size: 16px;
}
.btn-canvas-account:hover {
    border-color: white;
}

.text-account {
    color: white;
    border-bottom: 1px solid #777;
    padding: 0.75rem 0;
    display: block;
    transition: border-color 0.3s ease;
}
.text-account:hover {
    border-bottom-color: white;
}

/* SEARCH BAR CSS */
.btn-close{
    color: white; !important;
    background-color: transparent; !important; /*TODO: figure out why this is not applied on close button*/
    border: none; !important;
}

.form-control,
.input-group-text {
    border-radius: 30px;
}
.form-control {
    padding-right: 30px;
    border-right: 0;
}
.form-control:focus,
.input-group-text:focus,
.form-control:active,
.input-group-text:active {
    box-shadow: none;
    border-color: transparent;
}
.input-wrapper {
    position: relative;
    width: 100%;
}

.search-icon-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.search-icon-btn i {
    font-size: 18px;
    color: black;
}
.search-icon-btn:hover i {
    color: #a9091f;
}

/* NEWS ANTEPRIMA */
.podcast{
    background-color: #ededed;
}
a, .article-headline{
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.podcasthed{
    color: gray;
    font-weight: normal;
}
.podcastItem{
    padding: 20px;
    align-content: center;
}
.podcastText{
    max-width: 300px;
}

/* TRENDING */
.topic{
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
    font-family: Arial, serif;
}
.topic>*{
    display: inline;
}
.topic-element a{
    padding: 0 5px;
    border-left: 1px solid #222;
    color: gray;
    font-size:13px;
    font-weight: lighter;
}
.head-topic-element a:hover, .topic-element a:hover{
    text-decoration: underline;
}
.head-topic-element a{
    padding: 0 5px;
    color: gray;
    font-size:13px;
    font-weight: lighter;
}

/* ADD CSS */
.add-space{
    margin-top: 15px;
    align-content: center;
    text-align: center;
    margin-bottom: 25px;
}

/* MAIN PAGE CSS */
.central-colum-border{
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.article-padding{
    padding: 10px;
}
.breaking-news{
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
}
.breaking-news a{
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.breaking-news a:hover{
    color: #a9091f;
}
.sponsored-content{
    font-family: Arial, serif;
    color: #a9091f;
    font-size: 14px;
    font-weight: bold;
}
.sponsored-content a{
    font-size: 20px;
}
.sponsored-content-color{
    background-color: #ededed;
    padding: 10px;
}
.blockTitle{
    background-image: linear-gradient(90deg, #9ea7b3 30%, #fff);
    text-shadow: 0 0 9px rgba(0, 0, 0, .4);
    color: #fff;
    border-bottom: 0;
    padding: 4px 12px;
    margin: 0 0 16px;
    font-size: 20px;
}
.most-popular h6{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
.most-popular a:hover{
    color: #a9091f;
}
.most-popular{
    margin-bottom: 20px;
}
.doge-watch a:hover{
    text-decoration: underline;
    color:black !important;
}
.latest-reaction a:hover{
    color:black !important;
}
.premium{
    font-weight: bold;
    color: white;
    background-color: #a9091f;
    font-family: Arial, serif;
    padding: 2px;
    font-size: 10px;
}
.blue-link{
    color:cornflowerblue; !important;
    font-weight: normal;
}
.arrow-link{
    color: gray; !important;
    font-size:14px;
}
.arrow-link:hover{
    color: #a9091f;
}
.span-commentary{
    border-bottom: 1px solid #ededed;
    font-weight: bold;
    font-size: 18px; !important;
}

.socialIcon{
    font-size: 25px; /*TODO: figure out why this is not applied on Font Awesom Icon*/
}
#facebook, #instagram, #rss, #twitter{
    color: gray;
    font-size: 30px;
}
#facebook:hover{
    color: blue;
}
#instagram:hover{
    color: #6f42c1;
}
#rss:hover{
    color: orange;
}
#twitter:hover{
    color: #0dcaf0;
}
.follow-us{
    color:black;
    font-weight: bold;
    font-size: 25px;
}

section.form-control:focus,
section.input-group-text:focus, /*TODO: figure out why this is not applied*/
section.form-control:active,
section.input-group-text:active {
    box-shadow: none;
    border-color: #a9091f; !important;
}

.text-white{
    font-weight: normal;
}